[Unit]
Description=prometheus-omero-sessions

[Service]
User=omero-prometheus
EnvironmentFile=-/etc/sysconfig/prometheus-omero-sessions
Environment="PYTHONPATH=/opt/omero/server/OMERO.server/lib/python"
ExecStart=/opt/prometheus-omero-tools/bin/omero-prometheus-sessions.py $OPTIONS
RestartSec=10
Restart=on-failure
SyslogIdentifier=prometheus-omero-sessions

[Install]
WantedBy=multi-user.target
